body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  	font: 100%/1.5 system-ui;
	max-width: 100ch; 
	margin-inline: max(1em, (100% - 100ch) / 2); 
	padding-inline: 0.5rem;
	font-family: system-ui, sans-serif;
	line-height: 1.5;
}

html {
    --color-accent: oklch(65% 50% 0);
    accent-color: var(--color-accent);
}

img {
    width: 30%; /* Image will take up 50% of the screen width */
    max-width: 400px; /* Prevents it from getting too big */
    height: auto;
}


nav {
    display: flex;
    justify-content: center; 
    gap: 20px;
    background-color: #f8f8f8; 
    padding: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-bottom: 0.5rem;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
}

nav a.current {
     border-bottom: 0.4em solid oklch(80% 3% 200);
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
}

input, textarea, button {
    font: inherit;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
    max-width: 500px;
}

form label {
    text-align: right;
}

form input,
form textarea {
    width: 100%;
